<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <context-param>
        <param-name>resteasy.role.based.security</param-name>
        <param-value>true</param-value>
    </context-param>
<!--    Administrators-->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Administrators List</web-resource-name>
            <url-pattern>/api/administrators</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Administrator</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Administrators create</web-resource-name>
            <url-pattern>/api/administrators</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Administrator</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Administrators update and delete</web-resource-name>
            <url-pattern>/api/administrators/*</url-pattern>
            <http-method>PUT</http-method> <http-method>DELETE</http-method> <http-method>PATCH</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Administrator</role-name>
        </auth-constraint>
    </security-constraint>

<!--    Doctors-->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Doctors List</web-resource-name>
            <url-pattern>/api/doctors</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Administrator</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Doctors create</web-resource-name>
            <url-pattern>/api/doctors</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Administrator</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Doctors update and delete</web-resource-name>
            <url-pattern>/api/doctors/*</url-pattern>
            <http-method>PUT</http-method> <http-method>DELETE</http-method> <http-method>PATCH</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Administrator</role-name>
            <role-name>Doctor</role-name>
        </auth-constraint>
    </security-constraint>

<!--    Patients-->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Patients List</web-resource-name>
            <url-pattern>/api/patients</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Administrator</role-name>
            <role-name>Doctor</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Patients create</web-resource-name>
            <url-pattern>/api/patients</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Administrator</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Patients update and delete</web-resource-name>
            <url-pattern>/api/patients/*</url-pattern>
            <http-method>PUT</http-method> <http-method>DELETE</http-method> <http-method>PATCH</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Administrator</role-name>
            <role-name>Doctor</role-name>
            <role-name>Patient</role-name>
        </auth-constraint>
    </security-constraint>

<!--    BiometricTypes-->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>BiometricTypes List</web-resource-name>
            <url-pattern>/api/biometricsType</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Administrator</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>BiometricTypes List Not Deleted</web-resource-name>
            <url-pattern>/api/biometricsType/nonDeleted</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Administrator</role-name>
            <role-name>Doctor</role-name>
            <role-name>Patient</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>BiometricTypes create</web-resource-name>
            <url-pattern>/api/biometricsType</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Administrator</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>BiometricTypes update and delete</web-resource-name>
            <url-pattern>/api/biometricsType/*</url-pattern>
            <http-method>PUT</http-method> <http-method>DELETE</http-method> <http-method>PATCH</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Administrator</role-name>
        </auth-constraint>
    </security-constraint>

<!--    Prescriptions-->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Prescriptions List</web-resource-name>
            <url-pattern>/api/prescriptions</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Administrator</role-name>
            <role-name>Doctor</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Prescriptions create</web-resource-name>
            <url-pattern>/api/prescriptions</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Doctor</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Prescriptions update and delete</web-resource-name>
            <url-pattern>/api/prescriptions/*</url-pattern>
            <http-method>PUT</http-method> <http-method>DELETE</http-method> <http-method>PATCH</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Administrator</role-name>
            <role-name>Doctor</role-name>
        </auth-constraint>
    </security-constraint>

<!--    Observations-->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Observations List</web-resource-name>
            <url-pattern>/api/observations</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Doctor</role-name>
            <role-name>Patient</role-name>
            <role-name>Administrator</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Observations create</web-resource-name>
            <url-pattern>/api/observations</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Doctor</role-name>
            <role-name>Patient</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Observations update and delete</web-resource-name>
            <url-pattern>/api/observations/*</url-pattern>
            <http-method>PATCH</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Doctor</role-name>
            <role-name>Patient</role-name>
        </auth-constraint>
    </security-constraint>




    <security-role>
        <description>Administrator role</description>
        <role-name>Administrator</role-name>
    </security-role>
    <security-role>
        <description>Doctor role</description>
        <role-name>Doctor</role-name>
    </security-role>
    <security-role>
        <description>Patient role</description>
        <role-name>Patient</role-name>
    </security-role>
    <login-config>
        <auth-method>BEARER_TOKEN</auth-method>
        <realm-name>jwt-realm</realm-name>
    </login-config>
</web-app>
